<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8"/>

    <title>Корзина</title>

    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>

    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js}"></script>
    <script type="text/javascript"
            th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var webSocket = /*[[@{/feedback-notifications}]]*/ '';
        var sessionId = /*[[${#httpSession.getId()}]]*/ '';
        /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

    <!-- ##### All Javascript Script ##### -->
    <script th:src="@{/js/plugins/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{header :: completeHeader(Cart)}"/>

<div class="container content">
    <h1>Корзина</h1>

    <div th:if="${cart.getItems().size() > 0}">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>№</th>
                <th>Название товара</th>
                <th>Цена за ед.</th>
                <th>Кол-во</th>
                <th>Сумма</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem, itrStat : ${cart.getItems()}">
                <td th:text="${itrStat.index + 1}"/>
                <td th:text="${cartItem.product.title}"/>
                <td th:text="${cartItem.itemPrice}"/>
                <td class="d-flex">
                    <input class="form-control form-control-sm col-sm-3 quantity-selector mr-1" min="0"
                           th:value="${cartItem.quantity}" type="number"
                           th:data-product-id="${cartItem.getProduct().id}"
                           th:data-url="@{/cart/set}">
                    <button type="button" class="btn btn-danger btn-sm"
                            th:data-href="@{/cart/remove/{id}(id=${cartItem.getProduct().id})}"
                            data-toggle="modal" data-target="#removeProductFromCart">Удалить
                    </button>
                </td>
                <td th:text="${cartItem.totalPrice}"/>
            </tr>
            <tr>
                <td/>
                <td/>
                <td/>
                <td>Итого заказ:</td>
                <td th:text="${cart.totalCost}"/>
            </tr>
            </tbody>
        </table>
        <br>

        <a sec:authorize="isAuthenticated()" type="button" class="btn btn-primary" th:href="@{/shop/order/fill}">Продолжить
            оформление заказа</a>
        <a sec:authorize="isAnonymous()" type="button" class="btn btn-primary" data-toggle="modal"
           data-target="#authWarningModal">Продолжить оформление заказа</a>

    </div>
    <div th:unless="${cart.getItems().size() > 0}">
        <span>Ваша корзина пуста</span>
    </div>
</div>

<div class="modal fade" id="authWarningModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Предупреждение</h5>
            </div>
            <div class="modal-body">
                <span>Для формирования заказа Вам необходимо зайти в свою учетную запись</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Хорошо</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade popup-dialog" id="removeProductFromCart" tabindex="-1"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Удаление товара из корзины</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="get">
                    <div class="input-group">
                        <div class="form-group category_field">
                            <label>Действительно желаете выложить товар из корзины?</label>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-danger">Выложить</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">
                            Отмена
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- ##### Footer Area Start ##### -->
<div th:replace="~{footer :: footer}"></div>
<!-- ##### Footer Area End ##### -->

</body>
</html>