<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>

    <!-- ##### All Javascript Script ##### -->
    <script th:src="@{/js/plugins/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>
</head>
<body>
<!-- Top Header Area -->
<header class="header-area" th:fragment="completeHeader(activeTab)">

    <!-- Navbar Area -->
    <div class="videomag-main-menu" id="sticker">
        <div class="classy-nav-container breakpoint-off">
            <div class="container-fluid">
                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="videomagNav">

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>

                    <!-- Menu -->
                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap">
                                <span class="top"></span>
                                <span class="bottom"></span>
                            </div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul class="menu_bottom_space">
                                <li sec:authorize="hasRole('ADMIN')" class="nav-item"
                                    th:classappend="${activeTab == 'AdminDashboard' ? 'active' : ''}">
                                    <a class="nav-link" th:href="@{/admin}">Админка</a>
                                </li>
                                <li class="nav-item" th:classappend="${activeTab == 'Shop' ? 'active' : ''}">
                                    <a class="nav-link" th:href="@{/shop}">Товары<span
                                            class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item" th:classappend="${activeTab == 'Cart' ? 'active' : ''}">
                                    <a id="cart" class="nav-link" th:href="@{/cart}">Корзина
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li sec:authorize="isAuthenticated()" class="nav-item"
                                    th:classappend="${activeTab == 'Profile' ? 'active' : ''}">
                                    <a class="nav-link" th:href="@{/profile}">Профиль</a>
                                </li>
                                <li sec:authorize="isAuthenticated()" class="nav-item">
                                    <form th:action="@{/logout}" method="POST">
                                        <input type="submit" class="btn btn-danger" value="Logout"/>
                                    </form>
                                </li>
                                <li sec:authorize="isAnonymous()" th:if="${activeTab != 'Login'}" class="nav-item"
                                    style="display: inline-flex;">
                                    <form class="align-middle" th:action="@{/authenticateTheUser}" method="POST">
                                        <div class="input-group-prepend">
                                            <input class="form-control mr-sm-1" type="text" placeholder="Логин"
                                                   name="username"
                                                   aria-describedby="inputGroup-sizing-sm">
                                            <input class="form-control mr-sm-1" type="text" placeholder="Пароль"
                                                   name="password"
                                                   aria-describedby="inputGroup-sizing-sm">
                                            <button class="btn btn-secondary mr-sm-1" type="submit">Войти</button>
                                        </div>
                                    </form>
                                    <form class="align-middle input-group-prepend"
                                          th:action="@{/register/showRegistrationForm}" method="GET">
                                        <button class="btn btn-secondary" type="submit">Регистрация</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>

                    <!-- Top Search Area -->
                    <div class="top-search-area">
                        <form action="#" method="post">
                            <input type="search" name="top-search" id="topSearch" placeholder="Search">
                            <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

</body>
</html>