<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>Оформление заказа</title>

    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- ##### All Javascript Script ##### -->
    <script th:src="@{/js/plugins/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>

    <script type="text/javascript" th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js}"></script>
    <script type="text/javascript"
            th:src="@{https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js}"></script>

    <script th:inline="javascript">
        /*<![CDATA[*/
        var webSocket = /*[[@{/feedback-notifications}]]*/ '';
        var sessionId = /*[[${#session.id}]]*/ '';
        /*]]>*/
    </script>
    <script type="text/javascript" th:src="@{/js/script.js}"></script>

    <link type="text/css" rel="stylesheet" th:href="@{/css/main.css}"/>
</head>

<body>

<div th:replace="~{header :: completeHeader(Cart)}"/>

<div class="container content">
    <h1>Оформление заказа</h1>
    <form th:action="@{/shop/order/confirm}" th:object="${order}" method="post" class="form-horizontal">
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th>Название товара</th>
                <th>Количество</th>
                <th>Стоимость</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="orderItem : ${order.orderItems}">
                <td th:text="${orderItem.product.title}"/>
                <td th:text="${orderItem.quantity}"/>
                <td th:text="${orderItem.totalPrice}"/>
            </tr>
            <tr>
                <td>Итоговая сумма</td>
                <td/>
                <td th:text="${order.price}"/>
            </tr>
            </tbody>
        </table>

        <div th:if="${!order.confirmed}">
            <span>Укажите адрес доставки:</span>
            <div class="error" th:if="${#fields.hasErrors('deliveryAddress')}" th:errors="*{deliveryAddress}"/>
            <div class="input-group">
                <select class="custom-select" th:field="*{deliveryAddress}" id="dropDeliveryAddresses"
                        th:data-href="@{/shop/order/removeAddress}">
                    <option th:each="o : ${deliveryAddresses}" th:value="${o.id}" th:text="${o.address}"></option>
                </select>
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" data-toggle="modal"
                            data-target="#addDeliveryAddress">Добавить
                    </button>
                </div>
                <div class="input-group-append" th:if="${deliveryAddresses.size() > 0}">
                    <button class="btn btn-outline-danger" type="button" data-toggle="modal" id="btnDeleteAddress"
                            data-target="#removeDeliveryAddress">
                        Удалить
                    </button>
                </div>
            </div>
            <br>
            <span>Укажите номер телефона:</span>
            <div class="error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"/>
            <input type="text" th:field="*{phoneNumber}" class="form-control input-sm">
            <br>

            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Отправить</button>
                <a class="btn btn-secondary" th:href="@{/shop}">Вернуться в магазин</a>
            </div>
        </div>
        <div th:unless="${!order.confirmed}">
            <span th:text="'Адрес доставки: ' + ${order.deliveryAddress.address}"/>
            <br>
            <span th:text="'Номер телефона: ' + ${order.phoneNumber}"/>
            <br>
            <br>
            <div class="col-sm-6 controls">
                <!--<a class="btn btn-primary" th:href="@{'/shop/order/result/' + ${order.id}}">Оплатить</a>-->
                <a class="btn btn-primary" th:href="@{'/paypal/buy'}">Оплатить</a>
                <a class="btn btn-secondary" th:href="@{/shop}">Вернуться на страницу магазина</a>
            </div>
        </div>
    </form>

    <div class="modal fade popup-dialog" id="addDeliveryAddress" tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel">Добавление адреса доставки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/shop/order/addAddress}" th:object="${newAddress}" method="post">
                        <input type="hidden" th:field="${newAddress.id}">
                        <input type="hidden" th:field="${newAddress.user}">
                        <div class="input-group">
                            <div class="form-group category_field">
                                <label>Введите новый адрес доставки:</label>
                                <textarea th:field="*{address}" class="form-control"
                                          aria-label="With textarea"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Добавить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                Отмена
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade popup-dialog" id="removeDeliveryAddress" tabindex="-1"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Удаление адреса доставки</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="get">
                        <div class="form-group">
                            <label>Действительно желаете удалить выбранный адрес доставки?</label>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Удалить</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ##### Footer Area Start ##### -->
<div th:replace="~{footer :: footer}"></div>
<!-- ##### Footer Area End ##### -->

</body>
</html>