<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="utf-8"/>

    <title>Каталог товаров</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" th:href="@{/style.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- ##### All Javascript Script ##### -->
    <script th:src="@{/js/plugins/plugins.js}"></script>
    <!-- Active js -->
    <script th:src="@{/js/active.js}"></script>

    <script type="text/javascript" th:src="@{/js/script.js}"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{header :: completeHeader(AdminDashboard)}"/>

<div class="container content">
    <br>
    <h1 th:text="Заказы"/>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Клиент</th>
            <th>Статус заказа</th>
            <th>Дата формирования</th>
            <th>Дата отправки</th>
            <th sec:authorize="hasRole('ADMIN')">Действия</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orders}">
            <td th:text="${order.id}" th:data-href="@{/orders/info/{id}(id=${order.id})}"/>
            <td th:text="${order.user.userName}" th:data-href="@{/orders/info/{id}(id=${order.id})}"/>
            <td th:data-href="@{/orders/info/{id}(id=${order.id})}">
                <span th:if="${order.status.id == 1}" th:text="${order.status.title}" class="badge badge-danger"/>
                <span th:if="${order.status.id == 2}" th:text="${order.status.title}" class="badge badge-primary"/>
            </td>
            <td th:text="${#temporals.format(order.createAt, 'dd-MM-yyyy HH:mm')}"
                th:data-href="@{/orders/info/{id}(id=${order.id})}"></td>
            <td th:text="${order.status.id == 1 ? 'ожидается ' + #temporals.format(order.deliveryDate, 'dd-MM-yyyy') :
                #temporals.format(order.deliveryDate, 'dd-MM-yyyy HH:mm')}"
                th:data-href="@{/orders/info/{id}(id=${order.id})}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a class="button btn-primary btn-sm mr-1" th:if="${order.status.id == 1}"
                   th:href="@{'/admin/orders/ready/' + ${order.id}}">Отправить заказ</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- ##### Footer Area Start ##### -->
<div th:replace="~{footer :: footer}"></div>
<!-- ##### Footer Area End ##### -->

</body>
</html>